- @page_title = 'The Open Source Status Site'
.heroHeader
  .heroHeader__logo= image_tag 'logo-white.svg', :class => ''
  .heroHeader__text
    .pageContainer
      %h1.heroHeader__title Your ultimate status site
      %p.heroHeader__intro Staytus is a free, open source & beautiful status site which you can install on your own servers. It’s fully-loaded with all the features you’d expect from any site you might pay for.
      %ul.heroHeader__buttons
        %li= link_to "Try the live demo", "http://demo.staytus.co", :class => 'heroHeader__buttonTry'
        %li= link_to "Check out the code", "http://github.com/adamcooke/staytus"
