.featuresPage {
  margin:80px 0;
}

.featurePage__heading {
  text-align:center;
  font-size:50px;
  color:#534133;
  font-weight:900;
  margin-bottom:10px;
  letter-spacing:-0.04em;
}

.featurePage__intro {
  text-align: center;
  color:#aaa;
  font-size:18px;
  margin-left:10%;
  margin-right:10%;
  line-height:28px;
  margin-bottom:40px;
}

.featuresPage__list {
  overflow: hidden;
  margin-bottom:55px;
}

.featuresPage__feature {
  float:left;
  width:50%;
  padding:0 25px;
}

.featuresPage__icon {
  float:left;
  width:50px;
  margin-top:3px;
}

.featuresPage__featureHeading {
  font-weight:600;
  font-size:20px;
  margin-bottom:10px;
  margin-left:66px;
}

.featuresPage__featureText {
  color:#888;
  line-height:20px;
  margin-left:66px;
}

.featuresPage__list:last-child .featuresPage__feature:last-child {
  margin-bottom:0;
}

@media (max-width:650px) {

  .featurePage__heading {
    font-size:40px;
    line-height:40px;
  }

  .featurePage__intro {
    font-size:15px;
    line-height:25px;
    margin-left:0;
    margin-right:0;
  }

  .featuresPage__list {
    margin-bottom:0;
  }

  .featuresPage__feature {
    float:none;
    width:100%;
    padding:0;
    margin-bottom:30px;
  }
}
