.heroHeader {
  background:image-url('hero.jpg') #27221E no-repeat center center;
  background-size:cover;
  height:100vh;
  min-height:650px;
  position:relative;
}

.heroHeader__logo {
  position: absolute;
  text-align: center;
  top:100px;
  width:100%;
  img {
    width:150px;
  }
}

.heroHeader__text {
  position:absolute;
  bottom:8vh;
  width:100%;
  text-align:center;
}

.heroHeader__title {
  color:#fff;
  font-size:70px;
  font-weight:900;
  letter-spacing:-0.02em;
  text-shadow:0 0 15px #000;
}

.heroHeader__intro {
  color:#D4B39A;
  font-size:18px;
  margin:auto 10%;
  line-height:26px;
  margin-bottom:60px;
  text-shadow:0 0 5px #000;
}

.heroHeader__buttons {
  margin-bottom:55px;
  li {
    display:inline-block;
    margin:0 15px;
    position: relative;
    a {
      border-radius:40px;
      border:2px solid;
      color:#fff;
      font-weight:600;
      text-transform: uppercase;
      padding:8px 20px;
      text-shadow:0 0 5px rgba(0,0,0,0.7);
      text-decoration: none;
      &.heroHeader__buttonTry {
        color:#9AC642;
        background:#9AC642;
        color:#fff;
        border-color:#9AC642;
      }
    }
  }
}

.heroHeader--style1 {
  background-image:image-url('hero2.jpg');
  .heroHeader__intro {
    color:#a4d4e9;
  }
}

.heroHeader--style2 {
  background-image:image-url('hero3.jpg');
  .heroHeader__intro {
    color:#cadfc0;
  }
}

.heroHeader__githubStar {
  background:image-url('star.svg') no-repeat;
  background-size:150px;
  right:0;
  top:0;
  width:150px;
  height:90px;
  top:-20px;
  position:absolute;
  right:-170px;
  opacity:0.4;
}

.heroHeader__install {
  color:#fff;
  opacity: 0.4;
  font-size:14px;
}


@media (max-width:900px) {
  .heroHeader__title {
    font-size:50px;
  }
  .heroHeader__githubStar {
    width:120px;
    background-size:120px;
    right:-130px;
  }
}

@media (max-width:650px) {
  .heroHeader__title {
    font-size:37px;
    margin-bottom:10px;
  }
  .heroHeader__intro {
    font-size:15px;
    line-height:20px;
  }
  .heroHeader__buttons li {
    margin:0 10px;
  }
  .heroHeader__githubStar {
    display:none;
  }
}

@media (max-width:450px) {
  .heroHeader__title {
    font-size:45px;
    line-height:45px;
    margin-bottom:18px;
  }
  .heroHeader__intro {
    font-size:16px;
    line-height:20px;
    color:#fff;
    opacity:0.8;
  }
  .heroHeader__text {
    bottom:50px;
  }
  .heroHeader__buttons {
    margin-bottom:10px;
    li {
      display:block;
      margin-bottom:35px;
    }
  }
}

