.heroHeader {
  background:image-url('hero.jpg') #27221E no-repeat center center;
  background-size:cover;
  height:100vh;
  min-height:650px;
  position:relative;
}

.heroHeader__logo {
  position: absolute;
  text-align: center;
  top:100px;
  width:100%;
  img {
    width:150px;
  }
}

.heroHeader__text {
  position:absolute;
  bottom:10vh;
  width:100%;
  text-align:center;
}

.heroHeader__title {
  color:#fff;
  font-size:70px;
  font-weight:900;
  letter-spacing:-0.02em;
  text-shadow:0 0 15px #000;
}

.heroHeader__intro {
  color:#D4B39A;
  font-size:18px;
  margin:auto 10%;
  line-height:26px;
  margin-bottom:60px;
  text-shadow:0 0 5px #000;
}

.heroHeader__buttons {
  li {
    display:inline-block;
    margin:0 15px;
    a {
      border-radius:40px;
      border:2px solid;
      color:#fff;
      font-weight:600;
      text-transform: uppercase;
      padding:8px 20px;
      text-shadow:0 0 5px rgba(0,0,0,0.7);
      text-decoration: none;
      &.heroHeader__buttonTry {
        color:#9AC642;
        background:#9AC642;
        color:#fff;
        border-color:#9AC642;
      }
    }
  }
}

@media (max-width:900px) {
  .heroHeader__title {
    font-size:50px;
  }
}

@media (max-width:650px) {
  .heroHeader__title {
    font-size:40px;
  }
  .heroHeader__intro {
    font-size:15px;
    line-height:20px;
  }

}

@media (max-width:450px) {
  .heroHeader__title {
    font-size:55px;
    line-height:55px;
    margin-bottom:18px;
  }
  .heroHeader__intro {
    font-size:16px;
    line-height:20px;
    color:#fff;
    opacity:0.8;
  }
  .heroHeader__text {
    bottom:20px;
  }
  .heroHeader__buttons {
    li {
      display:block;
      margin-bottom:35px;
    }
  }
}

