.partnersBar {
  border-top:4px solid #efefef;
  padding:60px 0 40px 0;
  text-align: center;
}
.partnersBar__title {
  font-size:17px;
  color:#888;
  line-height:26px;
  margin-bottom:40px;
}

.partnersBar__logo {
  margin:0 20px;
  display:inline-block;
  margin-bottom:25px;
  img {
    height:30px;
  }
}

@media (max-width:450px) {
  .partnersBar__logo {
    display:block;
    margin-bottom:40px;
    &:last-child { margin-bottom:20px;}
  }
}
